
.duplicate-form {
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
}

.duplicate-form input {
    display: block;
    margin: 20px auto;
    width: 160px;
    height: 20px;
    padding: 0 5px;
    border-radius: 4px;
    outline: none;
    border: 2px solid gray;
}

.duplicate-form input:focus {
    box-shadow: 0 0 3px 2px gray;
}

.duplicate-form button {
    display: block;
    margin: 25px auto;
    width: 120px;
    height: 30px;
    background-color: rgb(173, 179, 194);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.duplicate-form button:hover {
    background-color: rgb(182, 187, 199);
}
