


.my-div{
    width: 300px;
    height: auto;
    margin: auto;
    /* text-align: center; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.my-div>p, .my-div>h4{
    padding-left: 18px;
    padding-top: 6px;
}

.my-div>p{
    padding-bottom: 10px;
}

