

.button {
    width: 80px;
    height: 33px;
    background-color: blueviolet;
    outline: none;
    border: 0;
    color: white;
    padding: 3px 3px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.6;
}