


.temp-div-class {
    width: 300px;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
    text-align: center;
}

.temp-div-class > h2 {
    padding-top: 20px;
}
.temp-div-class > svg {
    margin-bottom: 30px;
}