


.set-inputform {
    width: 200px;
    height: 100px;
}

.input-class {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin: auto;
}
.input-class>input {
    display: block;
    margin: auto;
    outline: none;
    text-align: center;
    color: gray;
}
.input-class>input:focus{
    border: 2px solid gray;
}

