

.containers {
    width: 600px;
    text-align: center;
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(251 251 251);
    display: flex;
    flex-wrap: wrap;
}

.containers h3 {
    width: 100%;
    color: rgb(139, 143, 153);
}