.nav-item {
    list-style: none;
    height: 100%;
    
}

.nav-item > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0 18px;
    height: 95%;
    font-size: 20px;
    margin-left: 10px;
}

.nav-item > a:hover {
    background-color: rgb(160, 70, 245);
}