
.nav-item {
    list-style: none;
    height: 100%;
    
}

.nav-item > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #434343;
    padding: 0 18px;
    height: 100%;
    font-size: 16px;
    margin-left: 23px;
    position: relative;
}

.nav-item-cir {
    color: #4DC488 !important;
}
.nav-item-cir .cir {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    position: absolute;
    background: #4DC488;
    right: 45%;
    left: 55%;
    margin-left: 0;
    margin-right: 0;
    bottom: 10%;
}